body{
   background-color:red;

 }

 h1{
  color: rgb(24, 6, 6);
  height:150px;
  width: Auto;
  text-align: center;
  font-size: 150px;
  margin: 50px;
  padding: 50px;
 }

p{
   height: 150px;
   color: rgb(56, 4, 4);
   text-align: center;
   font-size: 25px;
 }

 button {
   color:white;
   margin-left:45%;
   height: 50px;
   width: 100px;
   background-color:black;
 }

 img{
   width: 500px;
   height: 300px;
   margin-left: 450px;
 }