body{
   background-color: #fccb46;
 }

 h1{
  color: rgb(168, 11, 11);
  height:150px;
  width: Auto;
  text-align: center;
  font-size: 150px;
  margin: 50px;
  padding: 50px;
 }

p{
   height: 150px;
   color: rgb(168, 11, 11);
   text-align: center;
   font-size: 25px;
 }

 button {
   color: blue;
   margin-left: 50%;
 }
