body{
   background-color: #3c3c3c;
 }

h1{
   color: #e60000;
   border-style: solid;
   border-width: medium;
   border-color: #ff3c3c;
   text-align: center;
 }

p{
   color: #787878;
   text-align: center;
 }

 button {
   margin-left: 50%;
 }
